<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
  <script>
    I18n.locale = "<%= I18n.locale %>";
    I18n.translations = <%= raw I18n::JS.filtered_translations.to_json %>;
    var image_maxsize = "<%= Settings.validate.micropost.image_maxsize %>";
  </script>
</html>
